.title-add-ai-modal {
    color: #272833;
    pointer-events: none;
    border-radius: 10px;
    border: none;
    background-color: #abf600;
    font-weight: 600;
    font-size: 15px;
    height: unset;
    margin-bottom: 20px;
}

.add-ai-modal-content-container {
    background: #f2fed1;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #272833;
    margin-bottom: 20px;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-select-outlined:not(
        .ant-select-customize-input
    )
    .ant-select-selector {
    border-color: #272833;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs
    .ant-tabs-tab.ant-tabs-tab-active
    .ant-tabs-tab-btn {
    color: #272833;
    font-weight: 600;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-tabs .ant-tabs-ink-bar {
    background: #272833;
}
.add-ai-modal {
    border: 1px solid #272833;
    border-color: #272833;
    border-radius: 8px;
    padding-bottom: 0;
}

.ant-btn.add-ai-btn:hover {
    background-color: #f2fed1 !important;
    color: #272833 !important;
}
