.bot-information-container {
    background-color: #f2fed1;
    padding: 30px 0;
    border-radius: 10px;
    border: 2px solid #272833;
    padding: 25px;
    box-shadow: 0px 5px 0px 0px #191a23;
    margin-bottom: 20px;
    font-family: 'Staatliches';
    font-weight: 600;
    font-size: 16px;
}

.bot-information {
    width: 50%;
    margin: 0 auto;
}

.bot-information-name {
    font-size: 16px;
    border-radius: 10px;
    background-color: #cdced9;
    border: 1px solid #000000;
    padding: 10px;
}

.bot-information-token,
.bot-information-chat-id,
.bot-information-type {
    border-bottom: 1px solid #000000;
    padding: 10px;
    font-size: 16px;
}

.ant-btn.add-bot-btn {
    border-radius: 10px;
    background-color: #272833;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 60px;
    height: unset;
}
