.btn-group {
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: 'Staatliches';
    src: url('../../assets/Staatliches-Regular.ttf') format('truetype');
}

.ant-btn.add-bot-btn {
    border-radius: 10px;
    background-color: #272833;
    font-weight: 600;
    padding: 10px 60px;
    height: unset;
    border: 1.5px solid #272833;
}

.ant-btn.add-bot-btn:hover {
    background-color: #f2fed1 !important;
    color: #272833 !important;
}

.title-add-bot-modal {
    color: #272833;
    pointer-events: none;
    border-radius: 10px;
    background-color: #abf600;
    font-weight: 400;
    font-size: 16px;
    height: unset;
    margin-bottom: 20px;
    border: 1.5px solid #272833;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: 'Staatliches';
    line-height: 24px;
    width: 150px;
    height: 43px;
}

.add-bot-modal-content-container {
    background: #f2fed1;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #272833;
    margin-bottom: 20px;
}

.input-add-bot {
    border-color: #272833;
    font-family: 'Staatliches';
}

.add-bot-modal {
    border: 1px solid #272833;
    border-color: #272833;
    border-radius: 8px;
    padding-bottom: 0;
}
