.custom-node {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    font-family: "Contrail One";
}

.custom-node-channel {
    --r: 30px;
    width: 250px;
    justify-content: space-evenly;
    background-color: #028889;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    border-radius: var(--r);
}

.custom-node-ai {
    background-color: #105290;
    color: #eaf6cf;
    font-weight: 600;
    font-size: 20px;
    max-width: 400px;
    text-align: center;
    border-radius: 50%;
    padding: 50px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
}

.custom-node-bot {
    background-color: #f005a4;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    width: 150px;
    text-align: center;
    border-radius: 30px;
}