.block-ui-loading-mask {
    position: absolute;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.spin-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
